Checks: >
     -*,
     bugprone-*,
       -bugprone-easily-swappable-parameters,
       -bugprone-implicit-widening-of-multiplication-result,
     clang-analyzer-*,
     clang-diagnostic-*,
     cppcoreguidelines-*,
       -cppcoreguidelines-avoid-c-arrays,
       -cppcoreguidelines-avoid-magic-numbers,
       -cppcoreguidelines-avoid-non-const-global-variables,
       -cppcoreguidelines-init-variables,
       -cppcoreguidelines-interfaces-global-init,
       -cppcoreguidelines-macro-usage,
       -cppcoreguidelines-no-malloc,
       -cppcoreguidelines-non-private-member-variables-in-classes,
       -cppcoreguidelines-owning-memory,
       -cppcoreguidelines-pro-*,
     misc-*,
       -misc-const-correctness,
       -misc-include-cleaner,
       -misc-non-private-member-variables-in-classes,
     modernize-*,
       -modernize-avoid-c-arrays,
       -modernize-use-trailing-return-type,
       -modernize-use-using,
     performance-*,
       -performance-avoid-endl,
     portability-*,
     readability-*,
       -readability-avoid-const-params-in-decls,
       -readability-braces-around-statements,
       -readability-else-after-return,
       -readability-function-cognitive-complexity,
       -readability-function-size,
       -readability-identifier-length,
       -readability-implicit-bool-conversion,
       -readability-isolate-declaration,
       -readability-magic-numbers,
       -readability-named-parameter,
       -readability-simplify-boolean-expr,
       -readability-static-accessed-through-instance,
     mpi-*,
     openmp-*

HeaderFilterRegex: '(/Source/*/|/Util/model_parser|^\./|^tmp_build_dir/castro_sources/*/).*\.H$'
