[submodule "amrex"]
	path = external/amrex
	url = https://github.com/AMReX-Codes/amrex.git

[submodule "Microphysics"]
	path = Microphysics
	url = https://github.com/starkiller-astro/Microphysics.git
[submodule "external/Microphysics"]
	path = external/Microphysics
	url = https://github.com/starkiller-astro/Microphysics.git
