# latex intermediates
*.aux
*.log
*.dvi
*.toc
*.bbl
*.blg
*.lof
*.lot
*.idx
*.ilg
*.ind
Docs/*.out
Docs/*.ps
Docs/*.pdf
Docs/*/*.pdf

# emacs temporaries
*~
\#*


# Castro executables
Castro*.ex
*.exe

# plt and chk files
plt*
chk*
*plt?????
*chk?????
*plt?????.old*
*chk?????.old*
*.xmgr

# build directories
o/
d/
f/
t/
buildInfo.cpp

# These files are created at build time
Exec/*/*/extern.f90
Exec/*/*/actual_network.f90
Exec/*/*/helm_table.dat

*.hack
*.bak

Backtrace.*
