*.ipynb linguist-vendored
*.tex linguist-documentation
*.bib linguist-documentation

*.[123]d* linguist-vendored
*.mg linguist-vendored
*.M2 linguist-vendored
*.3alpha linguist-vendored

*.H linguist-language=C++
