# latex intermediates
*.aux
*.log
*.dvi
*.toc
*.bbl
*.blg
*.lof
*.lot
*.idx
*.ilg
*.ind
Docs/*.out
Docs/*.ps
Docs/*.pdf
Docs/*/*.pdf

# emacs temporaries
*~
\#*


# Castro executables
Castro*.ex
*.exe

# plt and chk files
plt*
chk*
*plt?????
*chk?????
*plt?????.old*
*chk?????.old*
*plt?????.temp.old.*
*chk?????.temp.old.*

*.xmgr

# build directories
o/
d/
f/
t/
tmp_build_dir/
AMReX_buildInfo.cpp

# These files are created at build time
Exec/**/extern.F90
Exec/**/extern_parameters.*
Exec/**/prob_params_auto.F90
Exec/**/actual_network.F90
Exec/**/helm_table.dat
Exec/**/state_sizes.f90
Exec/**/set_indices.F90
Exec/**/set_conserved.H
Exec/**/set_primitive.H
Exec/**/set_godunov.H

*.hack
*.bak

Backtrace.*

Docs/build
Docs/doxy_files
Docs/class
Docs/classlist.rst
Docs/source/file/
Docs/source/filelist.rst
Docs/source/namespace/
Docs/source/namespacelist.rst
Docs/source/runtime_parameters.rst
Docs/source/*_files.rst
Docs/source/preprocessed_files
Docs/source/yt_example.rst
Docs/source/yt_example_files/
Docs/source/changelog.md


*_diag.out
