Ann Almgren <asalmgen@lbl.gov> almgren <almgren>
Michael Zingale <michael.zingale@stonybrook.edu> mzingale <mzingale>
Chris Malone <cmalone@lanl.gov> cmalone <malone@ucolick.org>
Maria Barrios Sazo <maria.barriossazo@stonybrook.edu> mbarrios <maria.barriossazo@stonybrook.edu>
Maria Barrios Sazo <maria.barriossazo@stonybrook.edu> Maria Barrios <mbarrios@blackwidow.astro.sunysb.edu>
Maria Barrios Sazo <guadabsb15@gmail.com>
Mike Lijewski <mjlijewski@lbl.gov> lijewski <mjlijewski@lbl.gov>
Max Katz <maximilian.katz@stonybrook.edu> Max <maximilian.katz@stonybrook.edu>
Donald E. Willcox <dwillcox@groot.astro.sunysb.edu>
Donald E. Willcox <eugene.willcox@gmail.com>
