Ann Almgren <asalmgren@lbl.gov> almgren <almgren>
Ann Almgren <asalmgren@lbl.gov> asalmgren <asalmgren@lbl.gov>
Michael Zingale <michael.zingale@stonybrook.edu> mzingale <mzingale>
Chris Malone <cmalone@lanl.gov> cmalone <malone@ucolick.org>
Maria Barrios Sazo <maria.barriossazo@stonybrook.edu> mbarrios <maria.barriossazo@stonybrook.edu>
Maria Barrios Sazo <maria.barriossazo@stonybrook.edu> Maria Barrios <mbarrios@blackwidow.astro.sunysb.edu>
Maria Barrios Sazo <guadabsb15@gmail.com>
Mike Lijewski <mjlijewski@lbl.gov> lijewski <mjlijewski@lbl.gov>
Max Katz <maximilian.katz@stonybrook.edu> Max <maximilian.katz@stonybrook.edu>
Max Katz <maximilian.katz@stonybrook.edu> Max <max@max-G74Sx.(none)>
Max Katz <maximilian.katz@stonybrook.edu> Max Katz <maxpkatz@gmail.com>
Donald E. Willcox <dwillcox@groot.astro.sunysb.edu>
Donald E. Willcox <eugene.willcox@gmail.com>
WeiqunZhang <weiqunzhang@lbl.gov> Weiqun Zhang <WeiqunZhang@lbl.gov>
Andy Nonaka <AJNonaka@lbl.gov> ajnonaka <AJNonaka@lbl.gov>
Alan Calder <alan.calder@stonybrook.edu> alancalder <alancalder@users.noreply.github.com>

