Sphinx>=2.4.3
sphinx_rtd_theme
breathe>=4.14
sphinxcontrib_bibtex
numpydoc
more_itertools
numpy
IPython>=3
nbconvert
pandoc
jupyter
sphinx-prompt
codespell
sphinx-math-dollar
sphinx-copybutton

# for accessibility
sphinx-rtd-theme-ext-color-contrast
