<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Castro: papers</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <noscript>
      <link rel="stylesheet" href="css/skel.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="css/style-xlarge.css" />
    </noscript>
  </head>
  <body>

    <!-- Header -->
    <header id="header">
      <h1><a href="index.html">Castro</a></h1>
      <nav id="nav">
	<ul>
	  <li><a href="about.html">About</a></li>
	  <li><a href="science.html">Science</a></li>
	  <li><a href="papers.html">Papers</a></li>
	  <li><a href="who.html">Developers</a></li>
          <li><a href="docs/index.html">User's Guide</a></li>
	  <li><a href="help.html" class="button special">Get Help</a></li>
	</ul>
      </nav>
    </header>

    <!-- Main -->
    <section id="main" class="wrapper">
      <div class="container">

	<div class="row">
	  <div id="sidebar" class="4u 12u$(small)">
	    <section>
	      <ul class="unstyled">
		<li><h3>acknowledging Castro</h3>


		  If you find Castro useful for your
		  research, please cite the <a href="https://joss.theoj.org/papers/10.21105/joss.02513">Castro JOSS
                  paper</a>.

                  You can also cite the original
		  Castro paper <a href="https://ui.adsabs.harvard.edu/abs/2010ApJ...715.1221A/exportcitation">[bibtex]</a>, or for radiation, 
		  the gray <a href="https://ui.adsabs.harvard.edu/abs/2011ApJS..196...20Z/exportcitation">[bibtex]</a> or multigroup <a href="https://ui.adsabs.harvard.edu/abs/2013ApJS..204....7Z/exportcitation">[bibtex]</a> papers.

		  For AAS journals, please use the new
		  <var>\software{}</var> tag to highlight your
		  use of Castro.
		</li>

                <li><h3>PhD theses using Castro</h3>
                  <ul>
                    <li>Candace Joggerst (UCSC, 2010)</li>
                    <li>Haitao Ma (UCSC, 2011)</li>
                    <li>Ke-Jung Chen (Minnesota, 2013)</li>
                    <li>Elizabeth Lovegrove (UCSC, 2016)</li>
                    <li>Max Katz (Stony Brook, 2016)</li>
                    <li>Abigail Polin (UC Berkeley, 2020)</li>
                    <li>Maria Barrios Sazo (Stony Brook, 2020)</li>
                    <li>Alexander Smith Clark (Stony Brook, 2025)</li>
                    <li>Eric Johnson (Stony Brook, 2025)</li>
                  </ul>
                </li>


		<li><h3>papers citing Castro</h3>
		  papers citing the Castro I paper:
		  <a href="https://ui.adsabs.harvard.edu/abs/2010ApJ...715.1221A/citations">[ADS link]</a>
		</li>
		
	      </ul>
	    </section>
	  </div>

	  <div class="8u$ 12u$(small) important(small)">
	    
	    @@pub-list@@

	  </div>
	</div>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="container">
	<section class="ack">
	  Have a Castro paper not listed here?  Post an issue on the
  	  Castro github page with the details, or issue a pull request
  	  with the information to the webpage (in the "gh-pages"
  	  branch of the Castro git repo)
	</section>
	<div class="row">
	  <div class="8u 12u$(medium)">
	    <ul class="copyright">
	      <li>&copy; Castro development team. All rights reserved.</li>
	      <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
	    </ul>
	  </div>
	</div>
      </div>
    </footer>

  </body>
</html>
