name: codespell

on: [push, pull_request]

jobs:
  codespell:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: "pip"

      - name: Install dependencies
        run: pip install -r ./requirements.txt

      - name: Run codespell
        run: |
          codespell

