on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - '[0-9][0-9].[0-9][0-9]'

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Get the version
        id: get_version
        run: echo "VERSION=${GITHUB_REF/refs\/tags\//}"  >> $GITHUB_ENV

      - name: Set release text
        id: release_txt
        run: |
          python3 .github/workflows/get_release_txt.py ${{ env.VERSION }} >> $GITHUB_ENV

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: ${{ env.RELEASE_TXT }}
          draft: false
          prerelease: false
