on: 
  pull_request:
    types: synchronize
name: Slack Notification 
jobs:
  slackNotification:
    name: Slack Notification
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Get commit message
      run: |
        MSG=$(git log --format=%B -n 1)
        echo "::set-env name=COMMIT_MSG::$MSG"

    - name: Slack Notification 
      uses: AMReX-Astro/slack-action@master
      with:
        slack_webhook: ${{ secrets.SLACK_WEBHOOK }}
        slack_channel: castro
        message: ${{ env.COMMIT_MSG }}